@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Bungee+Shade&family=Fascinate&family=Press+Start+2P&family=Creepster&family=Emilys+Candy&family=Gruppo&family=Henny+Penny&family=Monoton&family=Permanent+Marker&family=Rye&display=swap&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Press Start 2P", serif;
}


:root {
    --my-black: #1e060c;
    --my-white: #fdf5f7;
    --my-magenta: #BB2649;
    --my-green: #88b04b;
    --my-blue: #060522;

}

html {
    font-size: 90%;
    overflow-x: hidden;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

body {
    background: var(--my-black);
    color: var(--my-white);
    max-width: 1920px;

}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    width: inherit;

}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: inherit;
    padding: 2rem 9%;
    background: var(--my-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(1, 0, 0, .2);
}

.logo {
    font-size: 1.9rem;
    color: var(--my-white);
    cursor: default;
}


.navbar a {
    font-size: 1.7rem;
    color: var(--my-white);
    margin-left: 4rem;
    transition: .3s;
}


.navbar a:hover,
.navbar a.active {
    color: var(--my-magenta);
}

#menu-icon {
    font-size: 3rem;
    color: var(--my-white);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo img {
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content{
    height: 100%;
}

.home-content h3 {
    font-size: 2rem;
    font-weight: 700;


}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--my-magenta);
}

.home-content h1 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.3;
}
#kitt {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    width: 28vw;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 1);
    border-radius: 20px 20px 0 0;
    color: var(--my-black);
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    margin-left: -14vw;
}

.led {
    border-radius: 5px;
    background-color: rgba(255,100,100,0.4);
}

.one, .two, .three, .four, .five, .six, .seven, .eight {
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    margin: 0;
    /*display: inline-block;*/
    -webkit-box-shadow: 0 0 30px red, inset 0 0 5px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-iteration-count: infinite;
    width: 12%;
}

.one {
    -webkit-animation-name: first;
}

.two {
    -webkit-animation-name: second;
}

.three {
    -webkit-animation-name: third;
}

.four {
    -webkit-animation-name: fourth;
}

.five {
    -webkit-animation-name: fifth;
}

.six {
    -webkit-animation-name: sixth;
}

.seven {
    -webkit-animation-name: seventh;
}

.eight {
    -webkit-animation-name: eighth;
}

@-webkit-keyframes first {
    0% {
        opacity: 0.2;
    }
    5% {
        opacity: 0.5;
    }
    10% {
        opacity: 1;
    }
    15% {
        opacity: 0.5;
    }
    20% {
        opacity: 0.2;
    }
    25% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    75% {
        opacity: 0.2;
    }
    80% {
        opacity: 0.5;
    }
    85% {
        opacity: 1;
    }
    90% {
        opacity: 0.5;
    }
    95% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes second {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0.2;
    }
    10% {
        opacity: 0.5;
    }
    15% {
        opacity: 1;
    }
    20% {
        opacity: 0.5;
    }
    25% {
        opacity: 0.2;
    }
    30% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    70% {
        opacity: 0.2;
    }
    75% {
        opacity: 0.5;
    }
    80% {
        opacity: 1;
    }
    85% {
        opacity: 0.5;
    }

    90% {
        opacity: 0.2;
    }
    95% {
        opacity: 0;
    }


}

@-webkit-keyframes third {
    5% {
        opacity: 0;

    }
    10% {
        opacity: 0.2;
    }
    15% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
    }
    30% {
        opacity: 0.2;
    }
    35% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    65% {
        opacity: 0.2;
    }
    70% {
        opacity: 0.5;
    }
    75% {
        opacity: 1;
    }
    80% {
        opacity: 0.5;
    }
    85% {
        opacity: 0.2;
    }

    90% {
        opacity: 0;
    }

}

@-webkit-keyframes fourth {
    10% {
        opacity: 0;
    }
    15% {
        opacity: 0.2;
    }
    20% {
        opacity: 0.5;
    }
    25% {
        opacity: 1;
    }
    30% {
        opacity: 0.5;
    }
    35% {
        opacity: 0.2;
    }
    40% {
        opacity: 0;
    }
    55% {
        opacity: 0;

    }
    60% {
        opacity: 0.2;
    }
    65% {
        opacity: 0.5;
    }
    70% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.2;
    }
    85% {
        opacity: 0;
    }
}

@-webkit-keyframes fifth {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    25% {
        opacity: 0.5;
    }
    30% {
        opacity: 1;
    }
    35% {
        opacity: 0.5;
    }
    40% {
        opacity: 0.2;
    }
    45% {
        opacity: 0;
    }
    50% {
        opacity: 0;

    }
    55% {
        opacity: 0.2;
    }
    60% {
        opacity: 0.5;
    }
    65% {
        opacity: 1;
    }
    70% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.2;
    }
    80% {
        opacity: 0;
    }
}

@-webkit-keyframes sixth {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    25% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.5;
    }
    35% {
        opacity: 1;
    }
    40% {
        opacity: 0.5;
    }
    45% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.2;

    }
    55% {
        opacity: 0.5;
    }
    60% {
        opacity: 1;
    }
    65% {
        opacity: 0.5;
    }
    70% {
        opacity: 0.2;
    }
    75% {
        opacity: 0;
    }
}

@-webkit-keyframes seventh {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    30% {
        opacity: 0.2;
    }
    35% {
        opacity: 0.5;
    }
    40% {
        opacity: 1;
    }
    45% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.5;

    }
    55% {
        opacity: 1;
    }
    60% {
        opacity: 0.5;
    }
    65% {
        opacity: 0.2;
    }
    70% {
        opacity: 0;
    }
}

@-webkit-keyframes eighth {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    35% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.5;
    }
    45% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;

    }
    55% {
        opacity: 0.2;
    }
    60% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--my-white);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--my-white);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--my-magenta);
    color: var(--my-magenta);
    box-shadow: 0 0 1rem var(--my-magenta);
}


.heading {
    text-align: center;
    font-size: 4rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--my-magenta);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--my-white);
    letter-spacing: .1rem;
    font-weight: 600;
    cursor: pointer;

}

.btn:hover {
    box-shadow: none;

}

#create-btn {
    display: none;
    position: sticky;
    top: 50%;
    left: 50%;
    z-index: 10;
    background: var(--my-green);
    color: var(--my-magenta);

}


.stuff {
    color: var(--my-white);

}

.stuff h2 {
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 10vh;

}

.stuff-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
    padding: 4rem;
    height: 30vh;

}

.stuff-container:nth-child(3) {
    flex-direction: row-reverse;
}

.stuff-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--my-black);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    max-width: 40vw;

}

.stuff-box img {
    width: 100%;
    transition: .5s ease;


}

.stuff-box:hover img {
    transform: scale(1.1);
}

.stuff-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--my-black));
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(100%);
    transition: .5s ease;
    padding: 2rem;
    color: var(--my-white);
}

.stuff-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    margin-right: 4rem;
    max-width: 35vw;
    width: 35%;
    height: inherit;

}

.stuff-title h4 {
    font-size: 2.2vw;
    text-align: center;
}

.stuff-tech-links {
    font-size: 2.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    border-radius: 20px;
    height: inherit;
}

.stuff-tech-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.stuff-tech-links img {
    width: 32px;
}


.stuff-resume {
    font-size: 1.8vw;
    font-weight: bolder;
    margin: .3rem 0 1rem;
}

.stuff-description {
    font-size: 1.2vw;
    margin: .3rem 0 1rem;
}

.stuff-box:hover .stuff-layer {
    transform: translateY(0);
}

.stuff-layer .btn {
    font-size: 1.2vw;
    color: var(--my-black);
    background-color: var(--my-white);
}

.stuff-layer .btn:hover {
    box-shadow: 0 0 4rem var(--my-white);
}

.stuff-layer .btn:active {
    background-color: var(--my-black);
    color: var(--my-white);
}


svg {
    width: 64px;
}

.contact {
    height: 100vh;
}

.contact h2 {
    margin-bottom: 10rem;
    height: 15vh;
}

form {
    max-width: 70rem;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.6rem;
    color: var(--my-white);
    background: transparent;
    margin: 2rem auto 4rem;
    border-bottom: 1px solid var(--my-white);
}

form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--my-white);
    background: transparent;
    border: 1px solid var(--my-white);
    border-radius: .8rem;
    margin: 3rem 0;
    resize: none;
}

form input {
    width: 49%;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--my-black);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: .8rem;
    transition: .5s ease;
    overflow: hidden;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--my-magenta);
}


.footer-iconTop a img {
    width: 20%;

}


@media (max-width: 1920px) {
    html {
        font-size: 70%;
    }

    svg {
        width: 48px;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 65%;
    }

    .stuff-title h4 {
        margin-bottom: 5rem;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 60%;
    }

    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;

    }

    .stuff {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        padding: 1rem 3%;
        background: var(--my-black);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }




    .photo img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .stuff h2 {
        margin-bottom: 3rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }


    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    html {
        font-size: 40%;
    }


    .photo {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}

