@font-face {
    font-family: "JetBrains Mono";
    src: url("/static/fonts/JetBrainsMono-Medium.ttf") format("truetype");
}


:root {
    --my-white: #f1f5f9;
    --my-blue: #060522;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}


html {
    font-size: 90%;
    overflow-x: hidden;
    font-family: JetBrains Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    background-color: var(--my-blue);
    color: var(--my-white);


}

header {
    text-align: center;
    padding: 2rem;
    font-size: 4rem;
    margin-bottom: 10vh;
    border-bottom: 1px solid var(--my-white);

}

#yt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

input {
    color: var(--my-white);
    background-color: transparent;
    font-size: 1.8rem;
    border-bottom: 1px solid var(--my-white);
    width: 100%;
    margin-bottom: 3rem;
    padding: 0.5rem;
    max-width: 768px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0.6rem;
    border-radius: 5px;

}


.btn:not(:disabled):hover {
    transform: scale(1.2);
}

.btn:not(:disabled):active {
    transform: scale(0.8);
}

#yt-form-go {
    background-color: lawngreen;
}

ul {
    list-style: none;
}

li {
    color: red;
}

#results {
    padding-top: 5rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

#attribs {
    width: 65%;
    padding: 1rem;
}

#title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

#details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#author {
    font-size: 1.6rem;
    text-align: right;
}

#length {
    font-size: 1.4rem;
}

#thumbnail {
    width: 35%;

}

img {
    width: 100%;
    padding: 1rem;
}

#download-form {
    background-color: transparent;

}

select {
    appearance: none;
    width: 100%;
    border-bottom: 2px solid var(--my-white);
    padding: 0.25em 0.5em;
    cursor: pointer;
    line-height: 1.1;
    background-color: transparent;
    color: var(--my-white);
    font-size: 1.8rem;
    margin-bottom: 4rem;
    max-width: 768px;

}

option {
    background-color: black;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    border: none;
}

#yt-form-go {
    background-color: lawngreen;
}

#id_stream {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

#loader {
    backdrop-filter: blur(6px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    display: none;
}

#spinner {
    position: absolute;

    left: 50%;
    top: 50%;
    margin-left: -8rem;
    margin-top: -8rem;
    border-top: 8rem solid var(--my-blue);
    border-right: 8rem solid var(--my-white);
    border-bottom: 8rem solid var(--my-blue);
    border-left: 8rem solid var(--my-white);
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    z-index: 10;
    animation: spin 2s linear infinite;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#success {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#success p {
    margin-bottom: 6rem;
    font-size: 4rem;

}

@media (max-width: 1920px) {
    html {
        font-size: 70%;
    }

    form {
        width: 70vw;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 65%;
    }

    form {
        width: 75vw;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 60%;
    }

    form {
        width: 80vw;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    form {
        width: 86vw;
    }

}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    form {
        width: 92vw;
    }
}

@media (max-width: 365px) {
    html {
        font-size: 40%;
    }

    form {
        width: 92vw;
    }


}

