{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {#Box icons#}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    {#Favicon#}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "main/images/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "main/images/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "main/images/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "main/images/site.webmanifest" %}">

</head>
<body>
{% block main %}{% endblock %}
</body>
</html>
