{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'youtube/css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header class="header">
    YouTube Downloader
</header>


<section id="yt">

    <form id="yt-form" action="{% url "youtube" %}" method="post">
        <div class="errors">
            <div class="error-link">
                {{ error.link }}
            </div>
            <div class="error-message">
                {{ error.message }}
            </div>
        </div>

        {% csrf_token %}
        {{ form }}

        <div class="buttons">
            <button id="yt-form-go" type="submit" class="btn" formnovalidate>Go</button>
        </div>
        <div id="results">
            <div id="attribs">
                <div id="title">
                    {{ video.title }}
                </div>
                <div id="details">
                    <div id="length">
                        {{ video.length }}
                    </div>
                    <div id="author">
                        {{ video.author }}
                    </div>
                </div>
            </div>

            <div id="thumbnail">
                <img src="{{ video.thumbnail_url }}" alt="">
            </div>
        </div>


    </form>
    <div id="options">
        <form id="download-form" action="{% url "download" %}" method="post">
            {% csrf_token %}
            {{ form2 }}
        </form>


    </div>

</section>

</body>
</html>
